*{
    margin: 0;
    padding: 0;
    font-family: Gotham;
}
body{
    background-color: rgb(37, 37, 37) ;
}


nav {
    background-color: cyan;
    width: 100%;
    height: 4.3rem;
}

nav h1.text{
    padding: 1rem 2rem;
    display: inline-block;
    font-weight: bolder;
    font-size: 2rem;
    transition: all 0.5s;
    user-select: none;
}


nav ul {
    float: right;
    list-style: none;
    display: flex;
    margin: 1.5rem;
    transition: all 0.5s;
}

nav ul li{
    padding-right:2rem;
    transform: scale(1);
    transition: 0.5s;
}


nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav ul li:hover {
    transform: scale(1.2);
}

nav ul li a:focus {
    color: rgb(112, 9, 197);
}

.material-icons{
    float: right;
    color: black;
    cursor: pointer;
    margin: 1.1rem 0;
    padding-right:1rem;
}

.material-icons.md-100{
    font-size: 2rem;
}

span.material-icons{
    display: none;
}

#check{
    display: none;
}

label span.material-icons{
    user-select: none;
}

@media (max-width: 900px) {
    nav h1.text{
        font-size: 1.5rem;
        padding: 1.3rem 1rem;
    }

    nav ul li{
        padding-right: 1rem ;
    }
}

@media (max-width: 613px) {
    nav h1.text{
        font-size: 1.3rem;
        padding: 1.5rem 1rem;
    }

    ul li a.a{
        text-align: center;
        transition: all 0.5s
    }
    

    nav ul.ula {
        padding: 0;
        margin: 0;
        display: none;
        float: right;
        clear: right;
        background-color: aquamarine;
        width: 200px;
        height: 210px;
        text-align: center;
        transform: translateX(200px);
        transition: all 1s;
    }
    
    nav ul li {
        
        
        display: inline-block;
        padding: 1rem 2rem;
        
    }

    span.material-icons{
        display: inline-block;
    }
    
    #check:checked ~ ul.ula{
        display: inline-block;
        transform: translateX(0);
        transform: translateY(-2px);
    }
    

}